<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ajax掲示板</title>
  
  <!-- Custom styles for this template -->
</head>
<div class="container">
  
        <form id="myForm" method="POST" enctype="multipart/form-data">{##}
            <textarea id="data" class="form-control" name="report" rows="3" oninput="count()"></textarea>
            <button type="submit" >投稿</button>
        </form>

        <div id="data-container">
          
        </div>
        
        <script src="/static/bbs.js"></script>
    
    
</div>

</html>